/* No margin for social icon in navbar */
.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.left {
    margin-right: 10px;
    float: left;
}

img.right {
    margin-right: 10px;
    float: right;
}

/* Ubuntu MATE Colour Scheme for Footer */
#mate-footer {
  text-align: center;
  background-color: #87A556;
  align-content: center;
  align-items: center;
  width: auto;
  color: #fff;
  padding-top: 8px;
}
#mate-footer img {
  height: 48px;
  width: 48px;
  padding: 0px;
  padding: 8px;
}
#mate-footer img:hover {
  background-color: #9AB270
}
#mate-footer a {
  color: #fff;
  text-decoration: none;
}
